button{
    border: 0ch;
   background-color:black; 
   color: white; 
   border-radius: 5px;
}

button:hover{
    border: 0ch;
    background-color: yellow;
    color: black;
    border-radius: 30px;
}